<div class="hero vr_half">
    <img class="u-tabletPlus" src="{{ featured_image_src }}" />
    <img class="u-mobile" src="{{ featured_image_src_mobile }}" />
</div>
<div class="box">
    <h1 class="hdg hdg_1 mix-hdg_brown vr">{{ title|raw }}</h1>
    <div class="userContent">
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
        {{ content|raw }}
    </div>
</div>